---
import { Image } from '@astrojs/image/components';

export interface School {
    school: String;
    img: String;
    degree: String;
    graduationDate: String;
    courses : String[];
}

const { schools } = Astro.props;
---

<div>
    {schools.map((school : School) => (
        <div class="school flex justify-evenly">
            <div class="w-[75px] sm:w-28 md:w-36 lg:w-48">
                <Image src={`/assets/${school.img}`} alt={`${school.school}-logo`} width={300} height={300} quality={100}></Image>
            </div>
            <div class="flex flex-col justify-center font-bold">
                <div class="text-xl sm:text-4xl md:text-5xl">{school.school}</div>
                <div class="text-sm sm:text-xl md:text-2xl">{school.degree}</div>
                <div class="text-sm sm:text-xl md:text-2xl">Expected Graduation: {school.graduationDate}</div>
            </div>

        </div>
            <div>
                <div class="mt-3 mb-1 text-xl w-full text-center">Relevant Coursework</div>
                <div class="grid grid-cols-2 m-auto max-w-xl">
                
                {school.courses.map((course: String) => (
                    <div class="bg-white dark:bg-[#161b22] rounded p-1 m-1 border dark:border-[#21262d]">{course}</div>       
                ))}
            </div>
        </div>
        
    ))}
</div>

<style>
    .school-img{
        width: 75px;
    }
</style>