---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

import Box from "./Box.astro";

interface Props {
  schools: School[];
}

export interface School {
    school: String;
    img: String;
    degree: String;
    startDate: String;
    endDate: String;
    courses: String[];
}

const { schools } = Astro.props;

const schoolImages = await import.meta.glob<{ default: ImageMetadata }>('/src/assets/schools/*.{jpeg,jpg,png}');
---

<div>
    {
        schools.map((school: School) => (
            <Box>
                <div class="flex">
                    <div class="w-[75px] sm:w-28 md:w-36 lg:w-40">
                        <Image
                            src={schoolImages[`/src/assets/schools/${school.img}`]()}
                            alt={`${school.school}-logo`}
                            width={300}
                            height={300}
                            quality={100}
                        />
                    </div>
                    <div class="flex flex-col justify-evenly ml-2 md:ml-3 lg:ml-5">
                        <div class="text-xl md:text-2xl lg:text-4xl font-bold">
                            {school.school}
                        </div>
                        <div class="text-lg sm:text-xl md:text-2xl">
                            {school.degree}
                        </div>
                        <div class="text-lg sm:text-xl md:text-2xl">
                            {school.startDate} - {school.endDate}
                        </div>
                    </div>
                </div>
            </Box>
        ))
    }
</div>

<style>
    .school-img {
        width: 75px;
    }
</style>
