---
export interface Job {
    company: string;
    shortCompany: string;
    link: string;
    title: string;
    startDate: string;
    endDate: string;
    location: string;
    icon: string;
    description: string[];
}

const { experiences } = Astro.props;
---

<div class="flex flex-col sm:flex-row">
    <div>
        {
            experiences.map((j: Job) => (
                <div class="mb-3 pb-2 p-3 bg-white dark:bg-[#161b22] rounded border dark:border-[#21262d]">
                    <div class="text-lg md:text-xl lg:text-2xl">
                        <span class="font-bold">{j.title}</span> at{" "}
                        
                        <a href={j.link} class="underline decoration-sky-500 hover:decoration-black dark:hover:decoration-white transition-all">{j.company}</a>
                    </div>
                    <div>
                        {j.startDate !== j.endDate ? `${j.startDate} - ${j.endDate}` : j.startDate}
                    </div>
                    <ul class="list-disc list-outside pl-6">
                        {j.description.map((line) => (
                            <li class="mb-2">{line}</li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</div>
