---
export interface Job {
    company: string;
    shortCompany: string;
    title: string;
    startDate: string;
    endDate: string;
    location: string;
    icon: string;
    description: string[];
}

const { experiences } = Astro.props;
---

<div class="flex flex-col sm:flex-row h-[520px] sm:h-auto">
    <div
        class="tab-list item h-[120px] sm:h-auto hover:cursor-pointer font-semibold text-white border-r-0 sm:border-r-2 border-white border-opacity-75"
    >
        <ul class="">
            {
                experiences.map((j: Job) => (
                    <li class="">
                        <div
                            class={"h-11 w-40 companySelectorDiv"}
                            job-tab={j.shortCompany}
                        >
                            <div class="flex flex-col justify-center items-center h-auto w-auto transition-all">
                                <div class=" pl-3 pt-3">{j.shortCompany}</div>
                            </div>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
    <hr class="mt-2.5 mb-2.5" />
    <div>
        {
            experiences.map((j: Job) => (
                <div
                    class="tab-content pl-11 pb-2 pr-3 sm:h-80 sm:pt-5 text-white sm:w-[800px] hidden"
                    job-tab={j.shortCompany}
                >
                    <div class="company text-lg">
                        <span class="text-xl font-bold">{j.title}</span> at{" "}
                        {j.company}
                    </div>
                    <div class="dates mb-4">
                        {j.startDate} - {j.endDate}
                    </div>
                    <ul class="list-disc list-outside">
                        {j.description.map((line) => (
                            <li class="mb-2">{line}</li>
                        ))}
                    </ul>
                </div>
            ))
        }
    </div>
</div>

<script is:inline>
    function setJob(jobName) {
        document.querySelectorAll(".companySelectorDiv").forEach((content) => {
            if (content.getAttribute("job-tab") == jobName) {
                content.classList.add("active-job-button");
            } else {
                content.classList.remove("active-job-button");
            }
        });

        document.querySelectorAll(".tab-content").forEach((content) => {
            if (content.getAttribute("job-tab") == jobName) {
                content.classList.add("active-job-content");
            } else {
                content.classList.remove("active-job-content");
            }
        });
    }

    window.addEventListener("DOMContentLoaded", () => {
        var buttons = document.querySelectorAll(".companySelectorDiv");
        if (buttons.length > 0) {
            buttons.forEach((b) => {
                b.addEventListener("click", () => {
                    var baseJob = b.getAttribute("job-tab");
                    if (baseJob) {
                        setJob(baseJob);
                    }
                });
            });

            var baseJob = buttons[0].getAttribute("job-tab");
            if (baseJob) {
                setJob(baseJob);
            }
        }
    });
</script>

<style>
    .active-job-button {
        font-size: large;
        font-weight: bold;
        color: rgb(134, 173, 255);
    }

    .companySelectorDiv:hover {
        font-size: large;
        font-weight: bold;
    }

    .active-job-content {
        display: block;
    }
</style>
