---
import FormattedDate from "./FormattedDate.astro";

const { href, title, description, date, image } = Astro.props;
---
<a href={href} class="md:min-w-[400px] md:max-w-[900px] md:block mx-auto mb-6 md:mb-3">
    <div
        class="flex flex-col w-full overflow-hidden bg-slate-800 rounded-xl bg-opacity-60 backdrop-filter backdrop-blur-xl drop-shadow-sm hover:drop-shadow-xl transition-all mb-5 md:mb-3"
    >
        <div class="h-80 overflow-hidden">
            <img class="md:h-80 w-auto object-cover transition-all" src={image} alt="" />
        </div>
        <div class="flex flex-col p-2 justify-between">
            <div>
                <div class="font-sans font-bold text-xl md:text-2xl title-holder transition-all duration-150 ease-in-out">{title}</div>
                <div class="text-md md:text-lg">{description}</div>
            </div>

            <div class="text-md md:text-lg mt-1"><FormattedDate date={date} /></div>
        </div>
    </div>
</a>

<style>
    a:hover div.title-holder{
        color: rgb(14 165 233);
    }

    img{
        transform: scale(1.04);
    }

    a:hover img{
        transform: scale(1);
    }
</style>
