---
export interface Project {
    title: string;
    year: Number;
    description: string[];
    keywords: string[];
    link: string;
    live_site?: string;
}

const { projects } = Astro.props;
---

<div class="grid grid-cols-1">
    {
        projects.map((proj: Project) => (
            <div class="mb-3 pb-2 p-3 bg-white dark:bg-[#161b22] rounded border dark:border-[#21262d]">
                <div class="text-lg md:text-xl lg:text-2xl">
                    <span class="font-bold">{proj.title}</span>
                </div>
                <div>{proj.year}</div>
                <ul class="list-disc list-outside pl-6">
                    {proj.description.map((line) => (
                        <li class="mb-2">{line}</li>
                    ))}
                </ul>
                <div class="flex flex-row flex-wrap">
                    {proj.keywords.map((str: String) => (
                        <div class="bg-white dark:bg-[#161b22] rounded-2xl py-1 px-3 my-2 mr-3 ml-0 border dark:border-[#313843]">
                            {str}
                        </div>
                    ))}
                </div>
                <div class="flex flex-row">
                    {proj.live_site ? (
                        <a
                            href={proj.live_site}
                            target="_blank"
                            class="my-2 mr-3 ml-0"
                        >
                            <div class="border border-sky-500 transition-all hover:bg-sky-400 sm:m-0 rounded font-bold text-sky-500 hover:text-white text-center align-middle p-2 py-1 cursor-pointer">
                                Live Site
                            </div>
                        </a>
                    ) : null}
                    <a href={proj.link} target="_blank" class="my-2 mr-3 ml-0">
                        <div class="border border-sky-500 transition-all hover:bg-sky-400 sm:m-0 rounded font-bold text-sky-500 hover:text-white text-center align-middle p-2 py-1 cursor-pointer">
                            Source Code
                        </div>
                    </a>
                </div>
            </div>
        ))
    }
</div>
