---
import Box from "./Box.astro";
import SlideShow from "./ProjectSlideshow";
import Tile from "./Tile.astro";

export interface Project {
    title: string;
    year: Number;
    description: string[];
    keywords: string[];
    link: string;
    images: string[];
    live_site?: string;
}

const { projects, select } = Astro.props;

let selectedProjects = projects as Project[];

if (select){
    selectedProjects = selectedProjects.filter((e : Project, i: number) => select.includes(i));
}
---

<div class="grid grid-cols-1">
    {
        selectedProjects.map((proj: Project) => (
            <Box>
                <div>
                    <SlideShow images={proj.images} client:load/>
                </div>
                <div class="text-lg md:text-xl lg:text-2xl">
                    <span class="font-bold">{proj.title}</span>
                </div>
                <div>{proj.year}</div>
                <ul class="list-disc list-outside pl-6">
                    {proj.description.map((line) => (
                        <li class="mb-2">{line}</li>
                    ))}
                </ul>
                <div class="flex flex-row flex-wrap my-1">
                    {proj.keywords.map((str: String) => (
                        <Tile>{str}</Tile>
                    ))}
                </div>
                <div class="flex flex-row">
                    {proj.live_site ? (
                        <a
                            href={proj.live_site}
                            target="_blank"
                            class="my-2 mr-3 ml-0"
                        >
                            <div class="border border-sky-500 transition-all hover:bg-sky-400 sm:m-0 rounded font-bold text-sky-500 hover:text-white text-center align-middle p-2 py-1 cursor-pointer">
                                Live Site
                            </div>
                        </a>
                    ) : null}
                    <a href={proj.link} target="_blank" class="my-2 mr-3 ml-0">
                        <div class="border border-sky-500 transition-all hover:bg-sky-400 sm:m-0 rounded font-bold text-sky-500 hover:text-white text-center align-middle p-2 py-1 cursor-pointer">
                            Source Code
                        </div>
                    </a>
                </div>
            </Box>
        ))
    }
</div>

<style is:global>
.indicator.active{
    fill: #535353;
}
.indicator{
    margin: 0px 2px;
    cursor: pointer;
}
.indicators{
    transition: all 0.25s ease;
    margin-top: 10px !important;
}
</style>